In [1]:
!wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv

--2023-09-25 16:42:32--  https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.111.133, 185.199.109.133, 185.199.108.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1423529 (1,4M) [text/plain]
Saving to: ‘housing.csv’

housing.csv         100%[===================>]   1,36M  5,38MB/s    in 0,3s

2023-09-25 16:42:32 (5,38 MB/s) - ‘housing.csv’ saved [1423529/1423529]

In [2]:
import pandas as pd

df = pd.read_csv("housing.csv")
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [3]:
df.isna().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [8]:
dfx = df[df.ocean_proximity.isin(['<1H OCEAN','INLAND'])].reset_index(drop=True)
dfx

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-121.97,37.64,32.0,1283.0,194.0,485.0,171.0,6.0574,431000.0,<1H OCEAN
1,-121.99,37.61,9.0,3666.0,711.0,2341.0,703.0,4.6458,217000.0,<1H OCEAN
2,-121.97,37.57,21.0,4342.0,783.0,2172.0,789.0,4.6146,247600.0,<1H OCEAN
3,-121.96,37.58,15.0,3575.0,597.0,1777.0,559.0,5.7192,283500.0,<1H OCEAN
4,-121.98,37.58,20.0,4126.0,1031.0,2079.0,975.0,3.6832,216900.0,<1H OCEAN
...,...,...,...,...,...,...,...,...,...,...
15682,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
15683,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
15684,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
15685,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
15686,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [9]:
dfx = dfx[['latitude',
'longitude',
'housing_median_age',
'total_rooms',
'total_bedrooms',
'population',
'households',
'median_income',
'median_house_value']]

In [10]:
dfx

,latitude,longitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,37.64,-121.97,32.0,1283.0,194.0,485.0,171.0,6.0574,431000.0
1,37.61,-121.99,9.0,3666.0,711.0,2341.0,703.0,4.6458,217000.0
2,37.57,-121.97,21.0,4342.0,783.0,2172.0,789.0,4.6146,247600.0
3,37.58,-121.96,15.0,3575.0,597.0,1777.0,559.0,5.7192,283500.0
4,37.58,-121.98,20.0,4126.0,1031.0,2079.0,975.0,3.6832,216900.0
...,...,...,...,...,...,...,...,...,...
15682,39.48,-121.09,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0
15683,39.49,-121.21,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0
15684,39.43,-121.22,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0
15685,39.43,-121.32,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0
15686,39.37,-121.24,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0

## Question 1
There's one feature with missing values. What is it?

In [11]:
dfx.isna().sum()

latitude                0
longitude               0
housing_median_age      0
total_rooms             0
total_bedrooms        157
population              0
households              0
median_income           0
median_house_value      0
dtype: int64

## Question 2
What's the median (50% percentile) for variable 'population'?

In [12]:
dfx.population.median()

1195.0

## Prepare and split the dataset
* Shuffle the dataset (the filtered one you created above), use seed 42.
* Split your data in train/val/test sets, with 60%/20%/20% distribution.
* Apply the log transformation to the median_house_value variable using the np.log1p() function.

## Question 3
* We need to deal with missing values for the column from Q1.
* We have two options: fill it with 0 or with the mean of this variable.
* Try both options. For each, train a linear regression model without regularization using the code from the lessons.
* For computing the mean, use the training only!
* Use the validation dataset to evaluate the models and compare the RMSE of each option.
* Round the RMSE scores to 2 decimal digits using round(score, 2)
* Which option gives better RMSE?

Options:

* With 0
* With mean
* Both are equally good

In [18]:
import numpy as np

np.random.seed(2)

n = len(dfx)

n_val = int(0.2 * n)
n_test = int(0.2 * n)
n_train = n - (n_val + n_test)

idx = np.arange(n)
np.random.shuffle(idx)

df_shuffled = dfx.iloc[idx]

df_train = df_shuffled.iloc[:n_train].copy()
df_val = df_shuffled.iloc[n_train:n_train+n_val].copy()
df_test = df_shuffled.iloc[n_train+n_val:].copy()

In [19]:
y_train_orig = df_train.median_house_value.values
y_val_orig = df_val.median_house_value.values
y_test_orig = df_test.median_house_value.values

y_train = np.log1p(df_train.median_house_value.values)
y_val = np.log1p(df_val.median_house_value.values)
y_test = np.log1p(df_test.median_house_value.values)

del df_train['median_house_value']
del df_val['median_house_value']
del df_test['median_house_value']

In [20]:
df_train

,latitude,longitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income
7820,36.85,-121.65,20.0,2606.0,424.0,1361.0,426.0,4.5787
6855,33.90,-118.34,36.0,1158.0,219.0,628.0,253.0,4.7426
12244,33.28,-117.28,13.0,6131.0,1040.0,4049.0,940.0,3.8156
7188,34.02,-118.48,22.0,1249.0,483.0,1106.0,481.0,2.5261
109,37.68,-121.77,36.0,1687.0,372.0,950.0,372.0,3.5532
...,...,...,...,...,...,...,...,...
15419,34.18,-118.92,17.0,2400.0,352.0,1067.0,323.0,6.3522
11585,34.04,-117.24,5.0,1775.0,234.0,726.0,222.0,7.9780
14547,38.40,-122.89,22.0,2900.0,538.0,1445.0,515.0,4.5110
12805,37.81,-121.22,17.0,2879.0,542.0,1802.0,530.0,3.6378
10950,38.51,-121.06,6.0,6873.0,959.0,2354.0,931.0,6.8869

In [21]:
y_train

array([12.40942565, 12.39958551, 11.92305302, ..., 12.60081716,
       11.74483845, 12.48029327])

In [22]:
def train_linear_regression(X, y):
    ones = np.ones(X.shape[0])
    X = np.column_stack([ones, X])

    XTX = X.T.dot(X)
    XTX_inv = np.linalg.inv(XTX)
    w = XTX_inv.dot(X.T).dot(y)
    
    return w[0], w[1:]

In [23]:
def prepare_X(df, fill_value = 0):
    # df_num = df[base]
    df
    df = df.fillna(fill_value)
    X = df.values
    return X

In [26]:
df_train.isna().sum(), df_train.total_bedrooms.mean()

(latitude               0
 longitude              0
 housing_median_age     0
 total_rooms            0
 total_bedrooms        99
 population             0
 households             0
 median_income          0
 dtype: int64,
 539.1932574618853)

In [27]:
X_zero = prepare_X(df_train, fill_value=0)
X_mean = prepare_X(df_train, fill_value=539.1932574618853)

In [28]:
X_zero

array([[ 3.6850e+01, -1.2165e+02,  2.0000e+01, ...,  1.3610e+03,
         4.2600e+02,  4.5787e+00],
       [ 3.3900e+01, -1.1834e+02,  3.6000e+01, ...,  6.2800e+02,
         2.5300e+02,  4.7426e+00],
       [ 3.3280e+01, -1.1728e+02,  1.3000e+01, ...,  4.0490e+03,
         9.4000e+02,  3.8156e+00],
       ...,
       [ 3.8400e+01, -1.2289e+02,  2.2000e+01, ...,  1.4450e+03,
         5.1500e+02,  4.5110e+00],
       [ 3.7810e+01, -1.2122e+02,  1.7000e+01, ...,  1.8020e+03,
         5.3000e+02,  3.6378e+00],
       [ 3.8510e+01, -1.2106e+02,  6.0000e+00, ...,  2.3540e+03,
         9.3100e+02,  6.8869e+00]])

In [29]:
w_0, w = train_linear_regression(X_zero, y_train)

In [31]:
y_pred = w_0 + X_zero.dot(w)

In [32]:
def rmse(y, y_pred):
    error = y_pred - y
    mse = (error ** 2).mean()
    return np.sqrt(mse)

In [33]:
rmse(y_train, y_pred)

0.34027582719352006

In [34]:
w_0, w = train_linear_regression(X_mean, y_train)
y_pred = w_0 + X_mean.dot(w)
rmse(y_train, y_pred)

0.34003740555160966

## Question 4
* Now let's train a regularized linear regression.
* For this question, fill the NAs with 0.
* Try different values of r from this list: [0, 0.000001, 0.0001, 0.001, 0.01, 0.1, 1, 5, 10].
* Use RMSE to evaluate the model on the validation dataset.
* Round the RMSE scores to 2 decimal digits.
* Which r gives the best RMSE?

If there are multiple options, select the smallest r.

Options:

* 0
* 0.000001
* 0.001
* 0.0001

In [35]:
def train_linear_regression_reg(X, y, r=0.0):
    ones = np.ones(X.shape[0])
    X = np.column_stack([ones, X])

    XTX = X.T.dot(X)
    reg = r * np.eye(XTX.shape[0])
    XTX = XTX + reg

    XTX_inv = np.linalg.inv(XTX)
    w = XTX_inv.dot(X.T).dot(y)
    
    return w[0], w[1:]

In [45]:
for r in [0, 0.000001, 0.0001, 0.001, 0.01, 0.1, 1, 5, 10]:
    print("*"*20)
    w_0, w = train_linear_regression_reg(X_zero, y_train, r=r)
    y_pred = w_0 + X_zero.dot(w)
    print(r, rmse(y_train, y_pred))
    # print('%5s, %.2f, %.2f, %.2f' % (r, w_0, w, 0.01))#w[13], w[21]))

********************
0 0.34027582719352006
********************
1e-06 0.34027582719355276
********************
0.0001 0.340275827521296
********************
0.001 0.3402758598454609
********************
0.01 0.3402789705825483
********************
0.1 0.3404983770810284
********************
1 0.3435927499589257
********************
5 0.3462299107953874
********************
10 0.3467691710746835

## Question 5
* We used seed 42 for splitting the data. Let's find out how selecting the seed influences our score.
* Try different seed values: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9].
* For each seed, do the train/validation/test split with 60%/20%/20% distribution.
* Fill the missing values with 0 and train a model without regularization.
* For each seed, evaluate the model on the validation dataset and collect the RMSE scores.
* What's the standard deviation of all the scores? To compute the standard deviation, use np.std.
* Round the result to 3 decimal digits (round(std, 3))

What's the value of std?

* 0.5
* 0.05
* 0.005
* 0.0005

In [55]:
scores = []
for seed in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]:
    
    print ('*'*10 + str(seed) +'*'*10)
    np.random.seed(seed)

    n = len(dfx)

    n_val = int(0.2 * n)
    n_test = int(0.2 * n)
    n_train = n - (n_val + n_test)

    idx = np.arange(n)
    np.random.shuffle(idx)

    df_shuffled = dfx.iloc[idx]

    df_train = df_shuffled.iloc[:n_train].copy()
    df_val = df_shuffled.iloc[n_train:n_train+n_val].copy()
    df_test = df_shuffled.iloc[n_train+n_val:].copy()
    
    y_train_orig = df_train.median_house_value.values
    y_val_orig = df_val.median_house_value.values
    y_test_orig = df_test.median_house_value.values

    y_train = np.log1p(df_train.median_house_value.values)
    y_val = np.log1p(df_val.median_house_value.values)
    y_test = np.log1p(df_test.median_house_value.values)

    del df_train['median_house_value']
    del df_val['median_house_value']
    del df_test['median_house_value']
    
    X_zero_train = prepare_X(df_train, fill_value=0)
    X_zero_valid = prepare_X(df_val, fill_value=0)
    
    # w_0, w = train_linear_regression_reg(X_zero_train, y_train, r=0)
    w_0, w = train_linear_regression(X_zero_train, y_train)

    y_pred = w_0 + X_zero_train.dot(w)
    print('train', rmse(y_train, y_pred))

    y_pred = w_0 + X_zero_valid.dot(w)
    print('val', rmse(y_val, y_pred))
    
    scores.append(rmse(y_val, y_pred))

**********0**********
train 0.3329960901830773
val 0.337738716008491
**********1**********
train 0.3353252773564012
val 0.3377999353663203
**********2**********
train 0.34027582719352006
val 0.3384287006760143
**********3**********
train 0.3411330955203481
val 0.33200494683058557
**********4**********
train 0.3347703205215588
val 0.3394451862556079
**********5**********
train 0.3382695058617523
val 0.3433819705265068
**********6**********
train 0.337347279317027
val 0.33853302117683354
**********7**********
train 0.33429960121706725
val 0.34687476972951764
**********8**********
train 0.3345971000834781
val 0.3512736865954833
**********9**********
train 0.34106867523466877
val 0.3341558266521478

In [56]:
round(np.std(scores),3)

0.005

## Question 6
* Split the dataset like previously, use seed 9.
* Combine train and validation datasets.
* Fill the missing values with 0 and train a model with r=0.001.
* What's the RMSE on the test dataset?

Options:

* 0.13
* 0.23
* 0.33
* 0.43

In [57]:
np.random.seed(9)

n = len(dfx)

n_val = int(0.2 * n)
n_test = int(0.2 * n)
n_train = n - (n_val + n_test)

idx = np.arange(n)
np.random.shuffle(idx)

df_shuffled = dfx.iloc[idx]

df_train = df_shuffled.iloc[:n_train+n_val].copy()
# df_val = df_shuffled.iloc[n_train:n_train+n_val].copy()
df_test = df_shuffled.iloc[n_train+n_val:].copy()

y_train_orig = df_train.median_house_value.values
# y_val_orig = df_val.median_house_value.values
y_test_orig = df_test.median_house_value.values

y_train = np.log1p(df_train.median_house_value.values)
# y_val = np.log1p(df_val.median_house_value.values)
y_test = np.log1p(df_test.median_house_value.values)

del df_train['median_house_value']
# del df_val['median_house_value']
del df_test['median_house_value']

X_zero_train = prepare_X(df_train, fill_value=0)
X_zero_test = prepare_X(df_test, fill_value=0)

w_0, w = train_linear_regression_reg(X_zero_train, y_train, r=0.001)
# w_0, w = train_linear_regression(X_zero_train, y_train)

y_pred = w_0 + X_zero_train.dot(w)
print('train', rmse(y_train, y_pred))

y_pred = w_0 + X_zero_test.dot(w)
print('val', rmse(y_val, y_pred))

train 0.3393175675909597
val 0.7194579785610808